on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4.1.3
        id: release
        with:
          release-type: simple

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Extract version from PR title
        uses: sergeysova/jq-action@v2
        id: version
        with:
          cmd: "echo '${{ steps.release.outputs.pr }}' | jq .title -r | awk -F'release ' '{print $2}'"

      - name: Show my version
        run: 'echo "version is ${{ steps.version.outputs.value }}"'

      - name: Store release PR number
        id: release-pr
        run: |
            echo "::set-output name=number::$(gh pr list --label='autorelease: pending' --json number | grep -o '\"number\":[0-9]*' | grep -o '[0-9]*')"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Merge release PR
        run: "gh pr merge ${{ steps.release-pr.outputs.number }} --merge --delete-branch"
        env:
          GH_TOKEN: ${{ github.token }}
